@model askLNU.ViewModels.ChangePhotoViewModel
@{
    ViewData["Title"] = "Change photo";
}

<h4>ChangePhotoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePhoto" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="Image" class="control-label">Change photo:</label> <br>
                <input asp-for="Image" type='file' class='form-control-file' />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
