@model askLNU.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "My profile";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/css/userProfile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/js/userProfile.js")" rel="stylesheet" type="text/css" />

</head>

<div class="modal" id="modal">
    <div class="modal-guts">
        <div class="w3-row-padding" id="linksRow">
            <a class="link" asp-area="" asp-controller="UserProfile" asp-action="Index">Profile |</a>
            <a class="link" asp-area="" asp-controller="Question" asp-action="CreatedQuestions">Created questions |</a>
            <a class="link" asp-area="" asp-controller="Question" asp-action="FavoriteUserQuestions">Favorite questions</a>
        </div>

        <h1>@ViewData["Title"]</h1>

        <form asp-action="Index" method="post" enctype="multipart/form-data">
            <div class="form-row">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="media col-md-3">
                    <div class="imgContainer" style="margin-bottom: 16px;">
                        <img src="@Model.ImageSrc" class="mr-3" width="104"><br>
                        <div class="imgBotton" value="test">
                            <input type=button onClick="location.href='../UserProfile/ChangePhoto'" value='Change photo' style="width:inherit; margin-top: 8px;">
                        </div>
                    </div>
                </div>

                <input asp-for="ImageSrc" type="hidden" class="form-control" />

                <div class="form-group col-md-4">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="UserName" class="control-label">Username</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="Course" class="control-label"></label>
                    <input asp-for="Course" class="form-control" />
                    <span asp-validation-for="Course" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>

                <div class="form-group col-md-10" id="button">
                    <input type="submit" value="Save changes" class="btn btn-primary" style="position: absolute;" />
                </div>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
