@model IEnumerable<askLNU.ViewModels.FacultyViewModel>

@{
    ViewData["Title"] = "AllFaculties";
}

<h1>AllFaculties</h1>

<p>
    <a asp-action="CreateNewFaculty">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
