@using askLNU.ViewModels
@model ConfirmEmailViewModel
@{
    ViewData["Title"] = "Account confirmation";
}

<h1>@ViewData["Title"]</h1>

@{
    if (@Model.Succeeded)
    {
        <p class="alert alert-success">@Model.StatusMessage</p>
    }
    else
    {
        <p class="alert alert-danger">@Model.StatusMessage</p>
    }
}