@using Microsoft.AspNetCore.Identity
@using askLNU.BLL.Interfaces
@inject ISignInService SignInService

    <ul class="navbar-nav">
        @if (SignInService.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserProfile" asp-action="Index">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-controller="Logout" asp-action="Logout">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Register" asp-action="Index">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Login" asp-action="Index">Login</a>
            </li>
        }
    </ul>
