* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightslategray;
}

#linksRow {
    width: 344px;
    border: double;
    padding: 6px;
    border-radius: 4px;
}
a , h4{
    color: #cb9d12;
}

.modal {
    display: block;
    width: 900px;
    max-width: 100%;
    height: 495px;
    max-height: 100%;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.9);
    border-radius: 4px;
}

.modal-backdrop {
    z-index: 98 !important;
}

.modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 20px 20px 50px;
}

ul {
    margin: 10px 0 10px 30px;
}

li, p {
    margin: 0 0 10px 0;
}

h1 {
    margin: 14px 0 20px 0;
}

#button {
    margin-left: 40px;
    margin-top: 20px;
}

.form-control {
    width: 80%;
}
